In [2]:
import pandas as pd #подключение библиотек pandas
import datetime #для работы с датой и временем

In [ ]:
the_series=pd.Series([1,2,3,4,5]) # Series -- столбец
print(the_series) # Вывод the_series

In [ ]:
# Вывод отдельный элементов series
print(the_series[1]) # вывод 2 т.к. нумерация с нуля
print(the_series[1], the_series[4]) # 2 5
the_series[[1, 4]] # Возвращаяет series (новый!)  с элементами 1, 4

In [ ]:
# создаём siries, задавая его в явном виде
the_second_siries=pd.Series(["One", "Two", "Three", "Four", "Five"],
                            index=["I", "II", "III", "IV", "V"])
the_second_siries

In [ ]:
the_second_siries[["II", "IV"]] # вывод значений с указанным индексом
the_second_siries.index # Вывод индекса отдельно от обьекта

Генератор DateTime

In [14]:
the_dates=pd.date_range("2005.06.19", "2022.09.26")
print(the_dates)

DatetimeIndex(['2005-06-19', '2005-06-20', '2005-06-21', '2005-06-22',
               '2005-06-23', '2005-06-24', '2005-06-25', '2005-06-26',
               '2005-06-27', '2005-06-28',
               ...
               '2022-09-17', '2022-09-18', '2022-09-19', '2022-09-20',
               '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24',
               '2022-09-25', '2022-09-26'],
              dtype='datetime64[ns]', length=6309, freq='D')